*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden ;
}

.pipe{
    bottom: 0;
    position: absolute;
    width: 80px;
    animation: pipe_animation 2s infinite linear;
}

@keyframes pipe_animation {
    from {
        right: -80px;
    }
    
    to {
        right: 100%;
    }

}

.mario{
    width: 150px;
    bottom: 0;
    position: absolute;
}


@keyframes mario_jump {


    
}

